<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter Tight' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://db.onlinewebfonts.com/c/261bd41f743f968436b6709532d4343e?family=PP+Pangram+Sans+Rounded+Medium" rel="stylesheet">
    <title>Document</title>

</head>
<body>
    <div class="head">
        <div class="head container">
            <div class="head_logo">
                <img src="/img/ЛОГО.png" alt="" width="100%">
            
            </div>
            <div class="head_right">
                <div class="head_links">
                    <div ><a  href="index">Главная</a></div>
                    <div ><a  href="/disciplines">Дисциплины</a></div>
                    <div ><a  href="/chat">Чаты</a></div>
                </div>
                <button class="head_profile">
                    <img src="/img/Ellipse 2.png" alt="">
                </button>
            </div>
        </div>
    </div>
   
    <div class="main_container">
        <div class="title">Главная страница</div>
        <div class="display_flex">
            <div>
                <div class="left_block">
                    <div class="left_block_cont">
                        <div class="left_block_row active">
                            <div class="left_block_row_img">
                                <img src="/img/Иконка создать услугу синяя.png" alt="" width="100%">
                            </div>
                            <div class="left_block_row_title" >
                                <a class="left_block_row_text" href="/index">Главная страница</a>
                            </div>
                        </div>
                        <div class="left_block_row">
                            <div class="left_block_row_img">
                                <img src="/img/Page-1.png" alt="" width="100%">
                            </div>
                            <div class="left_block_row_title">
                                <a class="left_block_row_text" href="/profile">Личный профиль</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left_block">
                    <div class="left_block_cont">
                        <div class="title3">Чат</div>
                        <div class="display_flex left">
                            <div class="left_profile_img">
                                <img src="/img/Ellipse 6@2x.png" width="100%" alt="">
                            </div>
                            <div class="display_flex name">
                                <div class="left_profile_name">
                                    Павел <br> Олегович
                                </div>
                                <div class="left_profile_count">
                                    15
                                </div>
                            </div>
                        </div>
                        <div class="display_flex left">
                            <div class="left_profile_img">
                                <img src="/img/Ellipse 6.png" width="100%" alt="">
                            </div>
                            <div class="display_flex name">
                                <div class="left_profile_name">
                                    Олег <br> Олегович
                                </div>
                                <div class="left_profile_count">
                                    3
                                </div>
                            </div>
                        </div>
                       <button class="left_button"><a href="/chat">Открыть все чаты</a></button>
                    </div>
                </div>
            </div>
            <div class="test">
                <div class="display_flex">
                    <button ><img  class="rotate90" src="/img/Vector.png" alt="" width="100"></button>
                    <div class="test_container">
                        <div class="quiz_name">Название квиза</div>

                        <div class="display_flex">
                            <div class="test_left">
                                <div class="disc_right_title test">Вопрос 1</div>
                                <div class="file_desc">Как называется алгоритм поиска кратчайшего пути в графе с взвешенными рёбрами, который использует очередь с приоритетами и обновляет длины кратчайших путей на каждой итерации?</div>
                            </div>
                            <div class="test_right">
                                <button class="test_right_button on">Алгоритм Дейкстры</button>
                                <button class="test_right_button">Алгоритм Флойда-Уоршелла</button>
                                <button class="test_right_button">Алгоритм Обхода в ширину (BFS)</button>
                                <button class="test_right_button">Алгоритм Обхода в глубину (DFS)</button>
                            </div>
                        </div>
                        <div class="display_flex jc">
                            
                           <div class="test_page">1 / 7</div>
                           <div class="test_page time">0:15:34</div>
                        </div>  
                    </div>
                    <button ><img class="rotate270" src="/img/Vector.png" alt="" width="100"></button>
                </div>
                
            </div>
           
        </div>     
        
    </div>
    
</body>
</html>